.card-recipe-all-description{
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #555;
}
.card-all-description-recipe{
    display: flex;
    gap: 20px;
    width: 1000;
    height: 350px;
    padding: 20px;
}

.image-dishe{
    width: 40%;
    height: 100%;
    /* background-color: aqua; */
    border-radius: 20px;
}
.short-discription{
    width: 60%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.short-discription-container{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-section-of-description,
.right-section-of-description{
    display: flex;
    gap: 15px;
}
.author,
.date{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}
.foto-author{
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
.like-box {
    display: flex;
}

.name-recipe{
    padding: 5px 10px;
    font-size: 25px;
    font-weight: 800;
}
.about-dishe{
    padding: 0px 10px;
}
.read-more{
    width: 170px;
    margin: 10px;
}

@media(max-width: 540px){
    .card-all-description-recipe{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 300;
        height: auto;
        padding: 10px;
    }
    .image-dishe{
        width: 280px;
        height: 250px;
        /* background-color: aqua; */
        border-radius: 20px;
    }
    .short-discription{
        width: 280px;
        height: 100%;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }
}